body {
    margin: 0;
    padding: 0;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    cursor: pointer; /* Les pone una manita al pasar */
}

header {
    width: 100%;
    height: 60px;
}

header nav {
    display: flex;
    justify-content: flex-end;
    
}

header nav .nav-right-section {
    width: 250px;
    height: auto;
    list-style: none; /*Quita el bullet */
    display: flex; /* Pone las listas en una sola linea */
    justify-content: center;
    align-items: center;
}

header nav .nav-right-section li a {
    margin-right: 10px;
    color: #000000;
}

header nav .nav-right-section .menu-icon {
    background-image: url('https://static.thenounproject.com/png/756729-200.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;  /* La imagen se aproximara al tamaño del contenedor.*/
    width: 25px;
    height: 25px;
    
}

nav .nav-right-section img {
    border-radius: 50%;
    margin-left: 10px;
}

main {
    margin-top: 150px;
    text-align: center;
}

main .main-logo {
    width: 530px;
    margin: 0 auto; /* Tengo 530 de width lo que sobra lo divide entre dos y se pone al centro */
    margin-bottom: 35px;
}

main .main-logo img {
    width: 300px;
}

main .main-input {
    width: 350px;
    margin: 0 auto;
    margin-bottom: 35px;
}


main .main-input-container {
    width: 525px;
    border-radius: 100px;
    border: 1px solid #dfe1e5;
    display: flex;
    justify-content: center;
    align-items: center;

}


main .main-input input {
    width: 450px;
    height: 40px;
    border: none;
    outline: none;
}

main .main-input-container:hover {
    box-shadow: 0 1px 6px #20212447;
    border-color: #dfe1e500;
}


main .main-input .search-icon {
    background-image: url('https://cdn0.iconfinder.com/data/icons/google-material-design-3-0/48/ic_search_48px-512.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;  /* La imagen se aproximara al tamaño del contenedor.*/
    width: 18px;
    height: 18px;
    opacity: .45;
    
}

main .main-input .micro-icon {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Google_mic.svg/726px-Google_mic.svg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;  /* La imagen se aproximara al tamaño del contenedor.*/
    width: 18px;
    height: 18px;
    cursor: pointer;
    
}